{% extends 'FOSMessageBundle:default:layout.html.twig' %}

{% block fos_message_page %}
    <h2>{{ thread.subject }}</h2>

    {% for message in thread.messages %}
        <div class="messenger_thread_message" id="message_{{ message.id }}">
            <div class="messenger_thread_message_info">
                {{ 'list.data.message_info'|trans(
                        {'%sender%': message.author|e, '%date%': message.createdAt|date},
                        'FOSMessageBundle'
                ) }}
            </div>

            <div class="messenger_thread_message_body">
                {{ message.content|nl2br }}
            </div>
        </div>
    {% endfor %}

    <h3>
        {{ 'actions.reply'|trans({}, 'FOSMessageBundle') }}
    </h3>

    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}
